input[type=text] {
  width: 100%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.divdiv {
  margin: 50px;
}

.navbar {

  background: #ff1869;
  background: -webkit-linear-gradient(top, #ff1869, #ffae18);
  background: -o-linear-gradient(top, #ff1869, #ffae18);
  background: -moz-linear-gradient(top, #ff1869, #ffae18);
  background: linear-gradient(top, #ff1869, #ffae18);
}

.offcanvas {

  background: #ff1869;
  background: -webkit-linear-gradient(top, #ff1869, #ffae18);
  background: -o-linear-gradient(top, #ff1869, #ffae18);
  background: -moz-linear-gradient(top, #ff1869, #ffae18);
  background: linear-gradient(top, #ff1869, #ffae18);
}

.card {
  margin: 10px;
  width: 220px;
}

.card-group {
  padding-left: 50px;
  padding-right: 50px;
}
