a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #ffae18;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:hover {
  text-decoration: none;
  color: #ff1869;
}
p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
}

/*[ Utility ]*/

.links {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #ffffff;
  line-height: 1.5;
}

/*[ login ]*/

.limiter {
  width: 100%;
}

/*[ Form ]*/

.form_receita {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.receita_logo {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.receita_title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


.receita-img {
  width: 400px;
  height: 300px;
}

.porcoes {
  background: #fa8796ce;
  border: 1px;
  border-radius: 10px;
  padding: 2%;
  color: white;
  width: 300px;
}
